{% extends '::base.html.twig' %}

{% block body-%}
    <h1>Index de mi pagina de chistes</h1> 
    <ul>
        <li>
            <a href="{{ path('post') }}">
                Ver todos los chistes
            </a>
        </li>
    </ul>
{% endblock %}

