{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Comment list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}